:root {
  --green: #00FF00;
  --white: #FFFFFF;
  --black: #000000;
}

body {
  background: var(--bg);
  color: var(--fontColor);
  font-family: helvetica;
}

li {
  list-style: circle;
}

.list {
  list-style: square;
}

.light-theme {
  --bg: var(--white);
  --fontColor: var(--black);
  --btnBg: var(--black);
  --btnFontColor: var(--white);
}

.dark-theme {
  --bg: var(--black);
  --fontColor: var(--green);
  --btnBg: var(--white);
  --btnFontColor: var(--black);
}
.btn {
  color: var(--btnFontColor);
  background-color: var(--btnBg);
}
.btn {
  position: absolute;
  top: 29px;
  left: 250px;
  height: 25px;
  width: 70px;
  border: none;
  color: var(--btnFontColor);
  background-color: var(--btnBg);
}
.button {
  padding: 10px 20px;
  background-color: var(--btnFontColor);
  color: green;
  border: none;
  border-radius: 5px;
  text-decoration: none;
  font-size: 16px;
  cursor: pointer;
  display: inline-block;}
  #contact {
    padding: 40px;
    text-align: center;
    background-color: #121212;
    color: #d4d4d4;
}

#contact h2 {
    font-size: 2.5rem;
    margin-bottom: 20px;
    color: #00ff00;
}

#contact a {
    color: #00ff00;
    text-decoration: none;
    margin: 0 10px;
}

#contact a:hover {
    color: #33cc33;
    text-decoration: underline;
}

.social-links {
    margin-top: 10px;
}

.social-icon {
    width: 20px;
    height: 20px;
    vertical-align: middle;
    margin-right: 8px;
}